<article class="all-game-title" @bounce>
    <h1>SEARCH GAMES</h1>
</article>

<div class="search-container-info" @fadeIn>
    <form id="searchForm" class="search-form" #form="ngForm" (ngSubmit)="searchGame(form)">
        <label for="title">Title:</label>
        <input                
            name="title"
            type="text"
            id="title"

            ngModel
            #inputGameName="ngModel"
        >

        <label for="ganre">Ganre:</label>
        <!-- <input
            name="ganre"
            type="text"
            id="ganre"
            placeholder="Ganre.."
            
            ngModel
            #inputGameGanre="ngModel"
        > -->
        <select
            name="ganre"
            type="text"
            id="ganre"

            [class]="(inputGameGanre?.touched && inputGameGanre?.errors?.['minlength']) ? 'input-error': ''"
            ngModel
            #inputGameGanre="ngModel"
        >              
            <option value=""></option>    
            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Arcade">Arcade</option>
            <option value="Board game">Board game</option>
            <option value="Education">Education</option>
            <option value="Fighting">Fighting</option>
            <option value="First-person">First-person</option>
            <option value="Lifestyle">Lifestyle</option>
            <option value="Multiplayer">Multiplayer</option>
            <option value="Music">Music</option>                
            <option value="Party">Party</option>
            <option value="Platformer">Platformer</option>
            <option value="Puzzle">Puzzle</option>
            <option value="Racing">Racing</option>
            <option value="Role-playing">Role-playing</option>
            <option value="Simulation">Simulation</option>
            <option value="Sports">Sports</option>
            <option value="Strategy">Strategy</option>
            <option value="Training">Training</option>
            <option value="Other">Other</option>
        </select>

        <input
            type="submit"
            id="btn"
            [disabled]="form.invalid"
            [style]="{ backgroundColor: form.invalid ? 'grey' : '#00c3e3' }"
            value="Search"
        />
    </form>
</div>

<section id="all-game-page" @fadeInSlow>
    @if(isLoading){
        <app-loader />
    } @else {
        @if (games && games.length > 0) {
            @for (game of games; track $index) {
                <article class="all-game-card">
                    <article class="all-game-card-image">
                        <img src="{{game.image}}" alt="{{game.title}}">
                    </article>
                
                    <article class="all-game-card-content">
                        <h2>{{game.title}}</h2>
                        <h3>Ganre: {{game.ganre}}</h3>
                        <!-- <h3>Seller: {{game.owner.username}}</h3>
                        <h3>Price: €{{game.price}}</h3>
                        <h3>Added: {{game.createdAt | elapsedTime}}</h3>
                        <h3>Likes: {{game.likesList.length}}</h3>
                        <h3>Description: {{game.description | slice: 50}}</h3> -->
                    </article>
                
                    <article class="all-game-card-buttons">
                        <a routerLink="/games/details/{{game._id}}" class="btn-details">Details</a>
                    </article>
                </article>
            }
        } @else {
            <article class="not-available-games">
                <h1>No game found!</h1>
                <img src="./images/sad_mario.png" alt="not-available-game">
            </article>
        }
    }    
</section>