<main>
    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

    <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->

    <div class="container">
        <div class="site-message">
            <h1 id="site-title">Welcome to Nintedo Switch Games Trade World!</h1>
            <h2 id="site-mid-title">Find your next adventure!</h2>
        </div>

        <div class="last-game">
            <div class="info">
                <h2 class="title">Mario Kart™ 8 Deluxe</h2>
                <h4 class="price">Price: €15</h4>
                <h4 class="added-on">Added on: 2024-11-11</h4>
                <div class="learn-more">
                    <a href="#">Details...</a>
                </div>
            </div>

            <div class="info">
                <h2 class="title">Mario Kart™ 8 Deluxe</h2>
                <h4 class="price">Price: €15</h4>
                <h4 class="added-on">Added on: 2024-11-11</h4>
                <div class="learn-more">
                    <a href="#">Details...</a>
                </div>
            </div>

            <div class="info">
                <h2 class="title">Mario Kart™ 8 Deluxe</h2>
                <h4 class="price">Price: €15</h4>
                <h4 class="added-on">Added on: 2024-11-11</h4>
                <div class="learn-more">
                    <a href="#">Details...</a>
                </div>
            </div>
    
        </div>

        <!-- If there are still no games posts on the database -->
            <!-- <article class="not-available-games">
                <h1>No game posts created yet.</h1>
            </article> -->
    </div>
</main>
