<main>
    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

    <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->

    <div class="container">
        <div class="site-message">
            <h1 id="site-title">Welcome to Nintedo Switch Games Trade World!</h1>
            <h2 id="site-mid-title">Find your next adventure!</h2>
        </div>

        <app-last-games-list></app-last-games-list>

        <!-- If there are still no games posts on the database -->
            <!-- <article class="not-available-games">
                <h1>No game posts created yet.</h1>
            </article> -->
    </div>
</main>
