<div class="details-container" @fadeIn>
    <div class="details-container-image">
        <img src={{game.image}}>
    </div>
    <div class="details-container-info">
        <h2>{{game.title}}</h2>
        <h3><span>Ganre:</span> {{game.ganre}}</h3>
        <h3><span>Price:</span> €{{game.price}}</h3>
        <h3><span>By:</span> {{game.owner.username}}</h3>
        <h3><span>Email:</span> {{game.owner.email}}</h3>
        <h3><span>Tel:</span> {{game.owner.telephone}}</h3>
        <h3><span>Location:</span> {{game.location}}</h3>
        <h3><span>Added on:</span> {{game.createdAt | date: 'dd-MM-yyyy HH:mm'}}</h3>
        @if(game.likesList.length > 0){
            <h4><span>Liked by:</span> {{likedBy}}</h4>
        } @else {
            <h4>Nobody liked this game yet!</h4>
        }        
    </div>
    <div class="details-container-content">
        <p>{{game.description}}</p>
    </div>

    <div class="btn-container">        
        @if(isLoggedIn){ 
            <!-- Only for registered user and creator of the game-->
            @if(isOwner){
                <a class="edit-button" routerLink="/games/edit/{{game._id}}">Edit</a>
                <a class="delete-button" (click)="delete()">Delete</a>
            } @else {
                @if(isLiked){
                    <!-- logged in user who has already sign up for the game-->
                    <p class="like">You've already liked this game!</p>
                } @else {
                    <!-- logged in user who has not yet sign up for the game-->
                    <a (click)="like()">Like</a>
                }
            }
        }
        <button class="go-back-button" (click)="goBack()">Go Back</button> 
    </div>
</div>
