<div class="details-container">
    <div class="details-container-image">
        <img src={{game.image}}>
    </div>
    <div class="details-container-info">
        <h2>{{game.title}}</h2>
        <h3>Ganre: {{game.ganre}}</h3>
        <h3>Price: €{{game.price}}</h3>
        <h3>By: {{game.owner.username}}</h3>
        <h3>Email: {{game.owner.email}}</h3>
        <h3>Tel: {{game.owner.telephone}}</h3>
        <h3>Added on: {{game.createdAt}}</h3>
        @if(likedBy){
            <h4>Liked By: {{likedBy}}</h4>
        } @else {
            <h4>Nobody liked this game yet!</h4>
        }        
    </div>
    <div class="details-container-content">
        <p>{{game.description}}</p>
    </div>

    <div class="btn-container">
    @if(isLoggedIn){ 
            <!-- Only for registered user and creator of the game-->
            @if(isOwner){
                <a routerLink="/games/edit/{{game._id}}">Edit</a>
                <a (click)="delete()">Delete</a>
            } @else {
                @if(isLiked){
                    <!-- logged in user who has already sign up for the game-->
                    <p class="like">You've already liked this game!</p>
                } @else {
                    <!-- logged in user who has not yet sign up for the game-->
                    <a (click)="like()">Like</a>
                }
            }
    }    
    </div>
</div>
