<div class="last-game">
    @if(isLoading){
        <app-loader />
    } @else {
        @if (games && games.length > 0) {
            @for (game of games; track $index) {
                <div class="info">
                    <img src="{{game.image}}" alt="{{game.title}}">
                    <h2 class="title">{{game.title}}</h2>                
                    <h4 class="seller">Seller: {{game.owner.username}}</h4>
                    <h4 class="price">Price: €{{game.price}}</h4>
                    <h4 class="added-on">Added: {{game.createdAt | elapsedTime}}</h4>
                    <h4 class="likes">Likes: {{game.likesList.length}}</h4>
                    <div class="learn-more">
                        <a [routerLink]="['/games/details', game._id]">Details...</a>
                    </div>
                </div>
            }
        } @else {
            <article class="not-available-game">
                <h1>No game created yet.</h1>
            </article>       
        }
    }    
</div>
