.last-game {
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
  }

.last-game .info {
    padding: 30px;
    width: 20%;
    background-color: rgb(0, 195, 227, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)); */
    /* background: rgba(0,0,0,0.9); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../../../public/images/wallpaper.jpg); */
    color: black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 30px;
  }
  
.last-game .title {
    font-size: 18px;
    text-align: center;
    height: 25%;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
  }
  
.last-game .genre {
    text-align: left;
  }
  
.last-game .price {
    font-weight: bold;
  }
  
.last-game .learn-more {
    background-color: #e70012;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
  }
  
.last-game a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-weight: bold;
  }
  
