<div class="login-box">

    <h1 @bounce>LOGIN</h1>

    <form class="login" #form="ngForm" (ngSubmit)="login(form)" @fadeIn>
        <label for="email">Email</label>
        <input
            [class]="(
                (inputEmail?.touched && inputEmail?.errors?.['required'])
                || (inputEmail?.touched && inputEmail?.errors?.['pattern']))
                ? 'input-error': ''"
            type="email"
            placeholder="Email.."
            name="email"
            id="email"
            ngModel
            email
            #inputEmail="ngModel"
            required
        />

        @if(inputEmail?.touched){
            <div>
                @if(inputEmail?.errors?.['required']){
                <p class="error">Email is required!</p>
                }
                <!--  -->
                @if(inputEmail?.errors?.['email']){
                <p class="error">Email is not valid!</p>
                }
            </div>
        }

        <label for="password">Password</label>
        <input
            [class]="(
                (inputPassword?.touched && inputPassword?.errors?.['required'])
                || (inputPassword?.touched && inputPassword?.errors?.['minlength']))
                ? 'input-error': ''"
            type="password"
            name="password"
            id="password"
            placeholder="Password.."
            ngModel
            #inputPassword="ngModel"
            required
            minlength="5"
        />

        @if(inputPassword?.touched){
            <div>
                @if(inputPassword?.errors?.['required']){
                <p class="error">Password is required!</p>
                }
                <!--  -->
                @if(inputPassword?.errors?.['minlength']){
                <p class="error">Password must be at least 5 characters!</p>
                }
            </div>
        }

        <div class="btn-container">
            <button (click)="goBack()">Go Back</button> 
            <button
                type="submit" [disabled]="form.invalid"
                [style]="{ backgroundColor: form.invalid ? 'grey' : '#00c3e3' }"
            >Login</button>
        </div>
        
    </form>

    <p @fadeInSlow>Don't have an account? <a routerLink="/register">Register here</a></p>

</div>
