/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Base font size */
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', 'Helvetica', sans-serif; /* Clean and readable font */
  background-color: #f4f4f4;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)), url(../public/images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  color: #333; /* Default text color */
  line-height: 1.6;
  overflow-x: hidden;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #e60012; /* Nintendo Switch Red */
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

/* Links */
a {
  text-decoration: none;
  color: #00c3e3; /* Nintendo Switch Blue */
  transition: color 0.3s;
}

a:hover {
  color: #007a99; /* Darker Blue */
}

/* Buttons */
button, input[type="submit"], .btn {
  background-color: #e60012; /* Nintendo Switch Red */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover, input[type="submit"]:hover, .btn:hover {
  background-color: #ffcc00; /* Nintendo Switch Yellow */
}

button:disabled, input[type="submit"]:disabled {
  background-color: grey;
  cursor: not-allowed;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Lists */
ul {
  list-style: none;
}

li {
  margin: 5px 0;
}

/* Containers */
.container {
  /* width: 90%;
  max-width: 90%; */
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}

/* Footer */
footer {
  background-color: #333; /* Dark footer */
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
}

footer a {
  color: #ffcc00; /* Nintendo Yellow */
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
  html {
      font-size: 14px; /* Adjust base font size */
  }

  h1 {
      font-size: 1.8rem;
  }

  h2 {
      font-size: 1.4rem;
  }

  button, input[type="submit"], .btn {
      padding: 8px 15px;
      font-size: 0.9rem;
  }
}
