#all-game-page {
  padding: 20px;
  background-color: #f4f4f4; /* Light Gray */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-game-title h1 {
  font-size: 2rem;
  color: #e60012; /* Nintendo Switch Red */
  margin: 20px;
  text-align: center;
}

.all-game-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 2px solid #e60012;
  border-radius: 20px;
  margin: 15px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 90%;
  max-width: 500px;
  transition: transform 0.3s;
}

.all-game-card:hover {
  transform: translateY(-5px);
}

.all-game-card-image img {
  width: 100%;
  height: auto;
  display: block;
}

.all-game-card-content {
  padding: 15px;
  text-align: center;
}

.all-game-card-content h2 {
  font-size: 1.5rem;
  color: #e60012;
  margin-bottom: 10px;
}

.all-game-card-content h3 {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}

.all-game-card-buttons {
  padding: 10px;
  text-align: center;
  background: #e60012;
}

.all-game-card-buttons a.btn-details {
  display: inline-block;
  color: #fff;
  background: #00c3e3;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.all-game-card-buttons a.btn-details:hover {
  background: #ffcc00; /* Nintendo Switch Yellow */
}

.not-available-games h1 {
  font-size: 1.5rem;
  color: #555;
  text-align: center;
}

@media (max-width: 768px) {
  .all-game-card {
      width: 100%;
  }

  .all-game-card-content h2 {
      font-size: 1.2rem;
  }

  .all-game-card-content h3 {
      font-size: 0.9rem;
  }
}
