<article class="all-game-title" @bounce>
    <h1>ALL GAMES</h1>
</article>

<section id="all-game-page" @fadeIn>
    @if(isLoading){
        <app-loader />
    } @else {
        @if (games && games.length > 0) {
            @for (game of games; track $index) {
                <article class="all-game-card">
                    <article class="all-game-card-image">
                        <img src="{{game.image}}" alt="{{game.title}}">
                    </article>
                
                    <article class="all-game-card-content">
                        <h2>{{game.title}}</h2>
                        <h3>Seller: {{game.owner.username}}</h3>
                        <h3>Price: €{{game.price}}</h3>
                        <h3>Location: {{game.location}}</h3>
                        <h3>Added: {{game.createdAt | elapsedTime}}</h3>
                        <h3>Likes: {{game.likesList.length}}</h3>
                        <h3>Description: {{game.description | slice: 50}}</h3>
                    </article>
                
                    <article class="all-game-card-buttons">
                        <a routerLink="/games/details/{{game._id}}" class="btn-details">Details</a>
                    </article>
                </article>
            }
        } @else {
            <article class="not-available-games">
                <img src="./images/sad_mario.png" alt="not-available-game">
                <h1>No game created yet!</h1>
            </article>
        }
    }    
</section>
