<section id="user">
    <div class="user-info">
        <div class="user-logo">
            <img src="./images/Mario.jpg" alt="avatar">
        </div>
        <h1 class="user-email"></h1>
        <h2 class="created-game-count">Username: {{user?.username}}</h2>
        <h2 class="created-game-count">Email: {{user?.email}}</h2>    
        <h2 class="created-game-count">Tel: {{user?.telephone}}</h2>    
    </div>
</section>

<section class="profile-game">
    <div class="created-game">
        <h2 class="section-title">Created Games</h2>
        <h2 class="created-game-count">Total Created Games: {{gamesCreated.length}}</h2>

        @if(isLoading){
            <app-loader />
        } @else {
            @if (gamesCreated) {
                @for (game of gamesCreated; track $index) {
                    <div class="info">
                        <h2 class="title">{{game.title | slice: 20}}</h2>
                        <!-- <h4 class="genre">Ganre: {{game.ganre}}</h4> -->
                        <div class="learn-more">
                            <a routerLink="/games/details/{{game._id}}">Learn More...</a>
                        </div>
                    </div>
                }
            } @else {
                <h2 class="no-game-in-profile">You haven't created any game yet...</h2>    
            }
        }
    </div>    

    <div class="like-game">
        <h2 class="section-title">Liked Games</h2>
        <h2 class="like-game-count">Total Liked Games: {{gamesLiked.length}}</h2>
        @if(isLoading){
            <app-loader />
        } @else {
            @if (gamesLiked) {
                @for (game of gamesLiked; track $index) {
                    <div class="info">
                        <h2 class="title">{{game.title | slice: 20}}</h2>
                        <!-- <h4 class="genre">Ganre: {{game.ganre}}</h4> -->
                        <div class="learn-more">
                            <a routerLink="/games/details/{{game._id}}">Learn More...</a>
                        </div>
                    </div>
                }
            } @else {
                <h2 class="no-game-in-profile">You haven't liked any game yet...</h2>    
            }
        }
    </div>
</section>
