header {
  background-color: #e60012; /* Nintendo Switch Red */
  color: #fff;
  padding: 0px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header .navigation img {
  width: 10%;
}

header .hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

header .hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
}

header .navigation nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

header .navigation nav ul.open {
  flex-direction: column;
  align-items: flex-start;
  background-color: #e60012;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
}

header .navigation nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
  cursor: pointer;
}

header .navigation nav ul li a:hover {
  color: #00c3e3;
}

/* Responsive styles */
@media (max-width: 768px) {
  header .hamburger {
      display: flex;
  }

  header .navigation nav ul {
      display: none;
  }

  header .navigation nav ul.open {
      display: flex;
  }

  header .navigation {
      flex-direction: column;
  }
}

header .navigation img.hidden {
  display: none;
}

@media (max-width: 768px) {
  header .navigation img {
    transition: opacity 0.3s ease;
  }
}
