<header>
    <div class="navigation">
        <nav>
            <img src="./images/logo.png" >
            
            <ul>
                <!-- Guest users and Logged users -->
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/catalog">All Games</a></li>
                <!--For guest users-->
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
                <!--For loggin users-->
                <li><a routerLink="/profile">Profile</a></li>
                <li><a routerLink="/games/create">Create Game Offer</a></li>
                <li><a (click)="logout()">Logout</a></li>    
                <!-- {{#if user}}<em>{{user.email}}</em>{{/if}} -->
            </ul>
        </nav>
    </div>
</header>

