<header>
    <div class="navigation">
        <img src="./images/logo.png" >
        <nav>           
            <ul>
                    <!-- Guest users and Logged users -->
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/catalog">All Games</a></li>
                @if(isLoggedIn){
                    <!--For loggin users-->
                    <li><a routerLink="/profile">{{username | titlecase}}'s profile</a></li>
                    <li><a routerLink="/games/create">Create Game Offer</a></li>
                    <li><a (click)="logout()">Logout</a></li>    
                } @else {
                    <!--For guest users-->
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/register">Register</a></li>
                }               
            </ul>
        </nav>
    </div>
</header>

