<header>
    <div class="navigation">
        <nav>
            <img src="./images/logo.png" >
            
            <ul>
                <!-- Guest users and Logged users -->
                <li><a href="#">Home</a></li>
                <li><a href="#">All Games</a></li>
                <!--For guest users-->
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <!--For loggin users-->
                <li><a href="#">Profile</a></li>
                <li><a href="#">Create Game Offer</a></li>
                <li><a href="#">Logout</a></li>    
                <!-- {{#if user}}<em>{{user.email}}</em>{{/if}} -->
            </ul>
        </nav>
    </div>
</header>

