<div class="register-box">
    <h1>REGISTER</h1>

    <form [formGroup]="form" (ngSubmit)="register()">
        <label for="username">Username</label>
        <input
        [class]="isFieldTextMissing('username') || isNotMinLength ? 'input-error' : ''"
          type="text"
          name="username"
          id="username"
          placeholder="Username.."
          formControlName="username"
        />

        @if(form.get('username')?.touched){
        <div>
            @if(form.get('username')?.errors?.['required']){
            <p class="error">Username is required!</p>
            }
            <!--  -->
            @if(form.get('username')?.errors?.['minlength']){
            <p class="error">Username must be at least 5 characters!</p>
            }
        </div>
        }
        
        <label for="email">Email</label>
        <input
          [class]="isFieldTextMissing('email') || isEmailNotValid ? 'input-error' : ''"
          type="email"
          name="email"
          id="email"
          placeholder="Email.."
          formControlName="email"
        />

        @if(form.get('email')?.touched){
        <div>
            @if(form.get('email')?.errors?.['required']){
            <p class="error">Email is required!</p>
            }
            <!--  -->
            @if(form.get('email')?.errors?.['email']){
            <p class="error">Email is not valid!</p>
            }
        </div>
        }

        <label for="telephone">Telephone</label>
        <input
        [class]="isFieldTextMissing('telephone') || hasOnlyDigits ? 'input-error' : ''"
          type="telephone"
          name="telephone"
          id="telephone"
          placeholder="Telephone.."
          formControlName="telephone"
        />

        @if(form.get('telephone')?.touched){
        <div>
            @if(form.get('telephone')?.errors?.['required']){
            <p class="error">Telephone is required!</p>
            }
            @if(form.get('telephone')?.errors?.['pattern']){
              <p class="error">Telephone contains only digits!</p>
            }
        </div>
        }
        
        <div formGroupName="passGroup">
            <label for="password">Password</label>
            <input
            [class]="(
                (passGroup?.get('password')?.touched &&
                 passGroup?.get('password')?.errors?.['required'] ) ||
                 (passGroup?.get('password')?.touched && 
                 passGroup?.get('password')?.errors?.['minlength'])
              ) ? 'input-error' : ''"
              type="password"
              name="password"
              id="password"
              placeholder="Password.."
              formControlName="password"                
            />

            @if(passGroup?.get('password')?.touched){
            <div>
                @if(passGroup?.get('password')?.errors?.['required']){
                <p class="error">Password is required!</p>
                }
                <!--  -->
                @if(passGroup?.get('password')?.errors?.['minlength']){
                <p class="error">Password must be at least 5 characters!</p>
                }
            </div>
            }
            
            <label for="rePassword">Confirm Password</label>
            <input
            [class]="(
                (passGroup?.get('rePassword')?.touched &&
                (passGroup?.get('rePassword')?.errors?.['required'] ||
                passGroup?.errors?.['matchPasswordsValidator'])) 
              ) ? 'input-error' : ''"
              type="password"
              name="rePassword"
              id="rePassword"
              placeholder="Confirm password.."
              formControlName="rePassword"            
            />

            @if(passGroup?.get('rePassword')?.touched){
                <div>
                  @if(passGroup?.errors?.['matchPasswordsValidator'] ||
                  passGroup?.get('rePassword')?.errors?.['required']){
                  <p class="error">Repeat Password does not match password!</p>
                  }
                </div>
                }
        </div>       
       
        <input type="submit" [disabled]="form.invalid" [style]="{ backgroundColor: form.invalid ? 'grey' : '#00c3e3' }" value="Register">
    </form>
    <p>Already have an account? <a routerLink="/login">Login here</a></p>
</div>
