/* src/app/user/register/register.component.css */
.register-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-color: #f4f4f4; /* Light Gray */
  padding: 20px;
}

.register-box h1 {
  font-size: 2rem;
  color: #e60012; /* Nintendo Switch Red */
  margin-bottom: 20px;
  text-align: center;
}

.register-box form {
  background: #fff;
  border: 2px solid #e60012;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.register-box label {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.register-box input[type="text"],
.register-box input[type="email"],
.register-box input[type="telephone"],
.register-box input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
  width: 100%;
}

.register-box input:focus {
  border-color: #e60012;
  outline: none;
}

.register-box input.input-error {
  border-color: #ff0000; /* Error Red */
}

.register-box .error {
  color: #ff0000;
  font-size: 0.9rem;
  margin: -10px 0 10px 0;
}

.register-box input[type="submit"] {
  /* background-color: #00c3e3; Nintendo Blue */
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-box input[type="submit"]:hover {
  background-color: #007a99;
}

.register-box input[type="submit"]:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.register-box p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #333;
}

.register-box p a {
  color: #00c3e3; /* Nintendo Blue */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

/* Darker Blue */
.register-box p a:hover {
  color: #007a99; 
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .register-box form {
      padding: 15px;
  }

  .register-box h1 {
      font-size: 1.8rem;
  }

  .register-box input {
      font-size: 0.9rem;
  }

  .register-box p {
      font-size: 0.8rem;
  }
}
