/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Mulish";
  background-color: #e70012;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../public/images/wallpaper.jpg); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)), url(../public/images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* .container{ */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../public/images/wallpaper.jpg); */
/* } */

.not-available-games {
  text-align: center;
  margin: 100px;
}

.errorContainer {
  position: fixed;
  right: 100px;
  min-width: 100px;
  display: block;
  z-index: 11111;
  top: 100px;
  text-align: center;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  height: auto;
  width: 320px;
  box-shadow: 0 5px 10px #ffeae7;
}

.errorContainer>p {
  background: black;
  font-size: 20px;
  padding: 20px;
  height: auto;
  border-radius: 20px;
}

.errorContainer {
  -moz-animation: cssAnimation 0s ease-in 2s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 2s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 2s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 2s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* @keyframes cssAnimation {
  to {
      width: 0;
      height: 0;
      overflow: hidden;
      padding: 0;
  }
}

@-webkit-keyframes cssAnimation {
  to {
      width: 0;
      height: 0;
      visibility: hidden;
      padding: 0;
  }
} */